{% extends "layout.html" %} {% block content %}

<h1 class="page-title">Latest Updates</h1>

{% for post in posts %}
<article class="post-card">
  <div class="post-header">
    <h2 class="post-title">{{ post.title }}</h2>
    <div class="post-meta">
      <div class="author-info">
        <img
          src="{{ url_for("static",path="/profile_pics/default.svg") }}"
          alt="{{ post.author }}"
          class="profile-img"
        />
        <span class="post-author">{{ post.author }}</span>
      </div>
      <span class="post-date">{{ post.date_posted }}</span>
    </div>
  </div>
  <div class="post-content">{{ post.content }}</div>
</article>
{% endfor %} {% endblock content %}
